@use 'variables';

body{
    background-color: var(  --colors-brand-800);
    font-family:  var(  --text-sm-semibold-underlined-font-family);
}

#headings{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(  --colors-base-white);
}
.accordion {
  &__subTitle{
    font-size: var(--text-lg-regular-font-size);
  }

  &__heading{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: var(--text-md-medium-underlined-font-size);
    color: var(  --colors-base-white);
    border: none;
    margin-top:1rem;
  }
  &__item{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--colors-brand-400);
    width: 100%;
    padding-top: 2rem;
    margin-top: 2rem;
  }
  &__header{
    display: flex;
    justify-content: space-between;

  }
  &__text{
    display: flex;
    width: 100%;
    color:var(  --colors-brand-200);
    margin-bottom: 1rem;
    font-size: var( --text-sm-medium-font-size);

    p {
      max-width: 37rem;
    }
  }
  &__icons{
    display: flex;
    align-self: center;
  }
}

#main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    max-width: 42rem;
}






